{% extends 'base.html' %}
{% load my_md %}
{% block main %}
    <article class="article article-type-post">
        <div class="article-meta">
          <a class="article-date">
            <time>{{ anmt.a_modify.year }}年{{ anmt.a_modify.month }}月{{ anmt.a_modify.day }}日</time>
          </a>
        </div>
        <div class="article-inner">
            <header class="article-header">
                <h1 itemprop="name">
                    <a class="article-title">{{ anmt.a_title }}</a>
                </h1>
            </header>
    <div class="article-entry" itemprop="articleBody">
        <h2>前言</h2>前言内容
        <hr>
        {{ anmt.a_content|md|safe}}
      </div>
    <footer class="article-footer">
      <a data-url="存放文章的url" class="article-share-link">分享</a>
    </footer>
  </div>
    </article>
{% endblock main %}