{% load staticfiles %}
<div class="footer">
    <div class="footer_link">
        <div>
            <img src="{% static 'friendLink.png' %}" style="height: 60px">
        </div>
        <ul>
            <li><a href="https://tieba.baidu.com/index.html" target="_blank">百度贴吧</a></li>
            <li><a href="http://bbs.cnhubei.com/portal.php" target="_blank">东湖社区</a></li>
            <li><a href="http://www.tianya.cn/" target="_blank">天涯社区</a></li>
            <li><a href="http://www.xici.net/" target="_blank">西祠胡同</a></li>
            <li><a href="https://www.baidu.com/" target="_blank">百度首页</a></li>
            <li><a href="http://news.sina.com.cn/" target="_blank">新浪新闻</a></li>
            <li><a href="http://news.163.com/" target="_blank">网易新闻</a></li>
            <li><a href="http://news.qq.com/" target="_blank">腾讯新闻</a></li>
        </ul>
    </div>
    <div class="footer_relation">
        <div style="margin-left: 350px"><img src="{% static 'weixin.jpg' %}" style="width: 100px"></div>
        <div><img src="{% static 'qq.jpg' %}" style="width: 100px"></div>
        <div>
            <p>地址：湖北省武汉市洪山区110号武昌工学院</p><br>
            <p>让我们面对现实，让我们忠于理想。-切</p>
            <p>学而不思则罔，思而不学则殆。</p>
            <p>生活的道路一旦选定，就要勇敢地走到底，决不回头。</p>
        </div>
    </div>
</div>