<div class="title">
    <div class="n_logo"><a href="#">稀里吧啦</a></div>
    <ul>
        <li class="n_logo_li"><a href="/">首页</a></li>
        <li class="n_logo_li"><a href="/news/">社区新闻</a></li>
        <li class="n_logo_li"><a href="/announcement/">社区公告</a></li>
        <li class="n_logo_li"><a href="/forum/">社区论坛</a></li>
        <li class="n_logo_li"><a href="/user/">我的社区</a></li>
        <li class="n_logo_li"><a href="/login/ " target="_blank">{{ logmsgs.msg }}</a></li>
        <li>
            <div style=" margin-top: 10px">
                <a href="#" style="border: none">
                    <img style="width: 40px; height: 40px" src="{{ MEDIA_URL }}{{ user.head }}">
                </a>
            </div>
        </li>
    </ul>

</div>